/* pokemon-detail.component.css */

.detail-container {
  margin: 150px auto;
  width: 50%;
  padding: 20px;
  border: 2px solid orangered;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-container img {
  max-width: 200px; /* Adjust the max-width as needed */
  margin-bottom: 20px;
}

.detail-container p {
  margin: 5px 0;
}

.detail-container ul {
  list-style-type: none;
  padding: 0;
}

.detail-container li {
  margin: 5px 0;
}

/* Define CSS classes for rounded types */
.rounded-type {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 5px;
}

/* Additional styling for each type */
/* Add your type color styles here */

.round-button {
  border-radius: 20px;
  background-color: orangered;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.edit-container {
  width: 100%;
  margin-top: 20px;/* Ensure the edit container takes full width */
}

.form-group {
  margin-bottom: 10px;
}

.button-container {
  display: flex; /* Use flexbox */
  justify-content: center; /* Align items horizontally */
  margin-top: 20px; /* Adjust margin as needed */
}

.edit-container {
  width: 100%; /* Ensure the edit container takes full width */
  text-align: center; /* Center text */
}
